<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link rel="shortcut icon" th:href="@{/springboot.ico}">
</head>
<body>
    <div class="container text-center">
        <h1>Employee Management System (EMS)</h1>

        <form th:action="@{/ems}" method="get">
            <button class="btn btn-primary" type="submit">View Dashboard</button>
        </form>
    </div>

</body>
</html>